# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

# dependencies
node_modules/
**/node_modules/

# env/secrets
.env
**/.env
.env.local
**/.env.local

# build
dist/
build/
coverage/

# OS/editor
.DS_Store
Thumbs.db
.vscode/


